.planet {
  position: absolute;
  animation-name: planetFadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  width: 600px;

  &.hidden {
    animation-name: planetFadeOut;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  .name {
    font-size: 36px;
    text-align: center;
  }
  
  ul  {
    font-size: 24px;
    animation-name: planetFadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    line-height: 1.5em;

    &.hidden {
      animation-name: planetFadeOut;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }
  }
}

.close {
  position: absolute;
  top: 0;
  right: 150px;
}

@keyframes planetFadeOut {
  from {opacity: 1; display: block;}
  to {opacity: 0; display: none;}
}

@keyframes planetFadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}