<div class="planets">
  <div
    class="planet"
    *ngFor="let planet of planets; let i = index"
    [ngStyle]="{
      'left': planet.location.x + 'px',
      'top': planet.location.y + 'px',
      'z-index': i
      }"
    [ngClass]="{'hidden': !planet.selected && !planet.displayed}">
    <span
      class="close"
      [ngStyle]="{'display': planet.selected ? 'block' : 'none'}"
      (click)="showAllPlanets()">X</span>
    <img [src]="planet.image" (click)="selectPlanet(planet)" alt="">
    <p class="name">{{planet.name}}</p>

    <ul
      class="bulletPoints"
      [ngClass]="{'hidden': !planet.selected}"
    >
      <li *ngFor="let point of planet.bulletPoints">
        {{point}}
      </li>
    </ul>
  </div>
</div>