.star {
  background: #FFF;
  height: 5px;
  position: absolute;
  width: 5px;
  opacity: 1;
  animation-name: starTwinkle;
  animation-direction: alternate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes starTwinkle {
  from {opacity: 1}
  to {opacity: 0.1}
}