/* You can add global styles to this file, and also import other style files */
body {
  color: #FFFFFF;
  font-family: 'ArcadeClassic', sans-serif;
  background: #000000;
  box-sizing: border-box;
}

h1 {
  color: darkturquoise;
  text-align: center;
}

.stars, .planets {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.star, .planet {
  cursor: pointer;
}
